@import '../../assets/styles/scss/_colors.scss';

header {
	background-color: $color-dark !important;
	height: 64px;
	color: #7b8794 !important;
	border-color: $grey-text-bg !important;
	box-shadow: 0 1rem 4rem rgba($component-bg, 0.08);
	display: flex;
	flex-direction: row !important;
	align-items: center;
	width: 100%;
	padding: 0 16px;
	position: fixed;
	top: 0;
	left: 0;

	.menuBtn {
		margin-right: 10px;
	}
	.title {
		cursor: pointer;

		&:hover {
			color: $violet-active-text-bg;
		}
	}
	.actionBtn {
		margin-left: auto;
		width: 45px;
		height: 45px;

		button {
			width: 100%;
			height: 100%;
		}

		.MuiIconButton-label {
			position: relative;

			.account-popup {
				position: absolute;
				top: 100%;
				right: 0;
				font-size: 16px;
				color: $grey-text-bg;
				background-color: $app-bg;
				padding: 5px 10px;
				border-radius: 10px;
				opacity: 0;
				transition: all 0.5s;
				margin-top: 10px;
			}

			&:hover {
				.account-popup {
					opacity: 1;
				}
			}
		}
	}
	.logoIcon {
		margin-right: 10px;
	}

	@media (max-width: 350px) {
		padding: 0 5px;

		.menuBtn {
			margin-right: 10px;
		}
	}
}
