$app-bg: #171c24;
$component-bg: #222b36;
$grey-text-bg: #7b8794;
$violet-active-text-bg: #688dff;
$border-color: #35404b;
$chart-percentage-color: #28acc0;

$primary-red: #f44336;
$primary-green: #257d20;

// new colors

$color-slate-100: #F1F5F9;
$color-slate-200: #E2E8F0;
$color-slate-600: #475569;
$color-slate-800: #1E293B;
$color-slate-900: #0F172A;

$color-amber-400: #FBBF24;

$color-sky-100: #e0f2fe;
$color-sky-200: #bae6fd;
$color-sky-300: #7dd3fc;

$color-dark: #070B15;
$color-100: #04060C;