@import '../../assets/styles/scss/colors.scss';

.modal {
	&-dialog {
		.modal-content {
			background-color: $color-slate-200;

			.modal-header {

				.modal-title {
					font-size: 22px;
					line-height: 24px;
					font-weight: 700;
				}

				button.close {
					border: none;
					border-radius: 3px;
				}
			}

			.modal-body {

				.form {

					margin: 0;

					.input-wrapper {

						margin: 0;

						.form-control {

							&-title {
								color: $color-slate-900;
								font-size: 18px;
								line-height: 20px;
								margin-bottom: 5px;
							}

							.input {
								display: flex;
								align-items: center;

								font-size: 16px;
								line-height: 18px;
							}
						}

					}
				}
			}

			.modal-footer {

				.custom-btn {

					&:hover {
						
						.icon {

							svg {
								color: $color-red-600;
							}
						}

						.title {
							color: $color-red-600;
						}
					}
				}
			}
		}
	}
}
