@import '../../assets//styles/scss/colors.scss';


.dashboard {
	
	width: 90%;

	&-main {
		width: 100%;

		svg {
			width: 80px;
			height: 80px;
			margin-bottom: 20px;
			margin-top: 120px;

            color: $color-amber-400;
		}

		h4 {
			margin-bottom: 50px;
            font-size: 64px;
            line-height: 64px;
            color: $color-slate-600;
		}

		h6 {
			cursor: pointer;

            padding: 8px 20px;
            border-radius: 12px;

            box-sizing: border-box;

            font-size: 32px;
            line-height: 32px;
            color: $color-slate-600;

			&:hover {
                border: 2px solid $color-slate-900;
			}
		}

	}

	&-stats {

		display: flex;
		flex-direction: row !important;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		width: 100%;

		margin-top: 50px;
		
		& .card {
			width: 600px;
			height: 350px;
			padding: 16px;
			background-color: $color-slate-900;
			border-radius: 12px;
			margin: 0 20px 20px 0;
			display: flex;
			justify-content: center;
			align-items: center;
	
			svg {
				margin: 0;
			}
	
			.recharts-responsive-container {
				.recharts-wrapper {
					.recharts-legend-wrapper {
						padding: 5px 15px;
						right: 0px;
						left: unset !important;
						bottom: 0 !important;
						line-height: 30px;
						border-radius: 10px;
						width: 210px !important;
					}

					.recharts-active-shape {
						text {
							font-size: 12px;
						}
					}
				}
			}
	
			.apexcharts-legend-series {
				display: flex;
				align-items: center;
				margin-bottom: 10px !important;
			
				.apexcharts-legend-marker {
					margin-right: 5px !important;
				}
			
				.apexcharts-legend-text {
					height: fit-content;
					color: $color-slate-200;
				}
			}
			
		}
	}
	

    @media (max-width: 900px) {
		&-main {
			svg {
				width: 50px;
			}

			h4 {
				font-size: 40px;
                line-height: 40px;  
			}

			h6 {
				font-size: 24px;
                line-height: 24px;
			}
		}
	}

	@media (max-width: 600px) {
		&-main {
			svg {
				width: 50px;
			}

			h4 {
				font-size: 25px;
                line-height: 25px;
			}

			h6 {
				font-size: 18px;
                line-height: 18px;
			}
		}
	}

	@media (max-width: 400px) {
		&-main {
			svg {
				width: 50px;
			}

			h4 {
				font-size: 20px;
                line-height: 20px;
			}

			h6 {
				font-size: 14px;
                line-height: 14px;
			}
		}
	}
}