@import '../../assets/styles/scss/colors.scss';

.transaction-detail {
    max-width: 600px;
    width: 90%;
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
       
    }


    .title-wrapper {
        font-size: 40px;
        color: $color-slate-200;
        margin-bottom: 30px;
        text-align: start;


        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 32px;

            border-bottom: 2px solid $color-slate-900;
        }
    }

    .form {
        margin: 0;

        .row {
            width: 100%;
        }

        .input-wrapper {

            @media (max-width: 450px) {
                margin-bottom: 20px;
            }
        }

        .form-control-title {
            font-size: 22px;
            line-height: 24px;

            @media (max-width: 450px) {
                font-size: 18px;
                line-height: 20px;

                
            }
        }
    }

    @media (max-width: 450px) {
        .form-control {

            .input {

                font-size: 16px !important;
                line-height: 18px !important;
            }
        }
    }
}