@import '../../assets/styles/scss/colors';

.form {
    width: 100%;
    max-width: 1000px;
	border-radius: 16px;
	// background-color: $component-bg;
	border-bottom: none;
	padding: 20px;
	margin-top: 30px;

	.row {
		.col {
			.form-group {
				margin-bottom: 20px;
				.form-label {
					// color: $chart-percentage-color;
					font-weight: 600;
					font-size: 14px;
				}

				input {
					// background-color: $component-bg;
					// border: 1px solid $border-color;
					// color: $chart-percentage-color;

					&:focus {
						box-shadow: 0 0 0 0.25rem rgba(53, 64, 75, 0.25);
					}
				}

				.invalid-feedback {
					display: block;
					text-align: center;
					font-size: 12px;
				}

				.react-datepicker-wrapper {
					height: 38px;
					width: 100%;
					border-radius: 0.25rem;

					.react-datepicker__input-container {
						height: 100%;
						border-radius: 0.25rem;

						input {
							width: 100%;
							height: 100%;
							border-radius: 0.25rem;
							padding: 0.375rem 0.75rem;

							&:focus {
								outline: none;
							}
						}
					}
				}

				.select {
					&--is-disabled {
						.select__control {
							// color: $app-bg;
							// border-color: $app-bg;
							// background-color: $app-bg;
						}
					}

					&__control {
						// background-color: $component-bg;
						// border: 1px solid $border-color;
						box-shadow: none;

						&:focus {
							box-shadow: 0 0 0 0.25rem rgba(53, 64, 75, 0.25);
						}
					}

					&__indicators {
						.select__indicator-separator {
							// background-color: $border-color;
						}

						.select__indicator {
							// color: $border-color;
						}
					}

					&__single-value {
						// color: $chart-percentage-color;
					}

					&__menu {
						// background-color: $component-bg;
						// color: $grey-text-bg;

						&-list {
							// background-color: $component-bg;
							.select__option {
								&--is-focused,
								&--is-selected {
									// background-color: $border-color;
									// color: $chart-percentage-color;
								}
							}

							&::-webkit-scrollbar {
								width: 4px;
								height: 4px;
							}

							*:hover::-webkit-scrollbar {
								width: 5px;
								height: 5px;
							}

							&::-webkit-scrollbar-button {
								display: none;
							}

							&::-webkit-scrollbar-thumb {
								border-radius: 10px;
								// background: $chart-percentage-color;
							}

							&::-webkit-scrollbar-track {
								// background: $app-bg;
								border: none;
							}
						}
					}
				}
			}
		}
		&.btn-wrapper {
			margin-left: auto;
			margin-right: 0px;
			transition: all 0.5s;

			.btn {
				// border-color: $violet-active-text-bg;
				// background-color: $component-bg;
				// color: $violet-active-text-bg;

				&:hover {
					// background-color: $violet-active-text-bg;
					// color: $app-bg;
				}

				&:focus {
					outline: none;
					box-shadow: 0 0 0 0.25rem rgba(104, 142, 255, 0.25);
				}
			}
		}
	}
}
