@import './assets/styles/scss/_colors.scss';

.App {
  text-align: center;
  width: 100%;
  background-color: $color-dark;

  & .content {
    min-height: calc(100vh - 128px);

    display: flex;
    // align-items: center;
    justify-content: center;
}
}