@import '../../assets/styles/scss/colors.scss';

.list-items {
    padding-top: 50px;
    max-width: 1120px;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        color: $color-slate-200;
        font-size: 36px;
        line-height: 40px;
        width: 100%;
        text-align: start;
        margin-bottom: 50px;
    }
    
    &-info {
        width: 100%;
        margin-bottom: 32px;

        display: flex;
        flex-direction: row;
        align-items: center;

        
        
        &-count {
            
            color: $color-slate-200;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            
            flex-grow: 1;
            
            text-align: start;

            @media (max-width: 768px) {
                font-size: 18px;
            }
            
            @media (max-width: 400px) {
                font-size: 16px;
                line-height: 24px;
            }

            .count {
                color: $color-amber-400;
            }
        }
    }

    &-layout {
        display: flex;
        flex-direction: row;
        align-items: center;

        .btn {
            width: 32px;
            height: 32px;

            padding: 0;

            background-color: $color-slate-900;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            border: none;
            outline: none;
            color: $color-amber-400;

            &.add {
                margin-right: 10px;
            }

            &:hover{
               cursor: pointer; 
            }

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    &-paginate {
        width: 100%;
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;

        margin-top: 50px;

        @media (max-width: 400px) {
            flex-direction: row-reverse;
        }
        

        &-info {
            color: $color-slate-200;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            flex-grow: 1;

            text-align: start;

            @media (max-width: 768px) {
                font-size: 18px;
            }

            @media (max-width: 550px) {
                font-size: 14px;
            }

            @media (max-width: 400px) {
                display: none;
            }

            .count {
                color: $color-amber-400;
                margin: 0 5px;
            }
        }

        &-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .btn {

                width: 32px;
                height: 32px;

                padding: 0;

                background-color: $color-slate-900;

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                border: none;
                outline: none;
                color: $color-amber-400;

                &:hover{
                    cursor: pointer;
                    color: $color-amber-400; 
                }

                svg {
                    width: 14px;
                    height: 14px;
                }
                
                &-previous {
                    margin-right: 10px;
                }

                &.disabled {
                    cursor: default;

                    color: $color-slate-200;
                    border-color: $color-slate-900;
                }
            }
        }
    }

}

